body{
    margin: auto;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #cde5e1;
    background-size: contain;
}

/*#77a2ca   nav   */

.nav{
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    color: #346491;
    background-color: currentColor;
    box-shadow:
    0 0 10px 10px rgba(45, 83, 139, 0.25);
    
    z-index: 6;
}

.nav_text{
    color: #cde5e1;
    font-size: 40px;
    text-decoration: none;
    top: 10px;
    text-shadow:
    4px 4px 4px rgba( 0, 0, 0, 0.25);
    position: relative;
    text-align: center;
    margin-left: 10%;
    float: left;
    
}

.home{
    color: rgb(187, 255, 232);
    text-shadow: 
    0 0 10px black;
}

.logos_link{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: right;
    right: 2%;
    bottom: -10px;
    animation: logos 20s linear infinite;
}

@keyframes logos {
    0%{
        background: url(images/TF-_5_logo.png) no-repeat;
        background-size: contain;
    }
    50%{
        background: url(images/jonas.kanal_logo.png) no-repeat;
        background-size: contain;
    }
    100%{
        background: url(images/TF-_5_logo.png) no-repeat;
        background-size: contain;
    }
}

/* portrait */

.logo{
    position: relative;
    top: 60px;
}

.logo_bar{
    position: absolute;
    width: 600px;
    height: 100px;
    color: #58c0ae;
    background-color: currentColor;
    z-index: 1;
    box-shadow: 
    10px 10px 8px 0 hsl(173, 100%, 21%,0.25),
    -108px 33px 0 0 #86e7d6,
    -98px 43px 8px 0 hsl(173, 100%, 21%,0.25),
    -48px -35px 0 0 #5fcfde,
    -38px -25px 8px 0 hsl(173, 100%, 21%,0.25);
    top: 320px;
    left: 276px;
}

.hello{
    position: absolute;
    z-index: 2;
    font-size: 64px;
    stroke: #5fcfde;
    color: #006a5d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 582px;
    top: 140px;
    text-shadow:
    10px 10px 10px rgba( 0, 0, 0, 0.25);
}

.younes{
    position: absolute;
    z-index: 3;
    font-size: 64px;
    color: #cde5e1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 582px;
    top: 320px;
    text-shadow:
    4px 4px 4px rgba( 0, 0, 0, 0.25);
}

.portrait{
    position: absolute;
    width: 230px;
    height: 300px;
    z-index: 2;
    left: 328px;
    top: 92px;
}


